<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/users" method="POST">
        <!-- metdos: PUT PATCH DELETE POST (GET - no para enviar informacion) -->
        <label for="firstName">
            First Name:
            <input type="text" name="firstName">
        </label>
        <button type="submit">Send</button>
    </form>
</body>

</html>